<!-- <h1 mat-dialog-title fxLayoutAlign="flex-end">تعديل فرع </h1>
<mat-divider></mat-divider>

<form  [formGroup]="branchForm" >
<div mat-dialog-content dir="rtl">

    <div class="container" >


      <mat-form-field appearance="fill"  >
        <mat-label> رقم الموظف</mat-label>
       <input matInput  formControlName="emp_ID" readonly="true" >
       </mat-form-field>

         <mat-form-field appearance="fill"  >
         <mat-label> رقم اللوحه</mat-label>
        <input matInput formControlName="plate_no" >

        </mat-form-field>



     </div>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>الغاء</button>
    <button mat-raised-button color="primary"   (click)="UpdateBranch()" type="submit" >تعديل</button>

  </div>

</form> -->
