<div dir="rtl">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span> شركة عرمون </span>
            <button mat-icon-button  (click)="toggleSideBar()" >
                <mat-icon>menu</mat-icon>
            </button>

            <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                <ul fxLayout="row" fxLayoutGap="20px">
                    
                      <button mat-icon-button (click)="logout()">
                          <mat-icon>exit_to_app</mat-icon>
                      </button>
                    <li>

                    </li>
                </ul>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
